<div class = "side-list-item-row 1">
  <div class ="row-item name">
    {{#link-to 'organization' org.id}}{{org.name}}{{/link-to}}
  </div>
   <div class="row-item member-count">
     <span>{{org.memberCount}}</span>
     </div>
</div>